<content padding="true" class="padding-top">
	<div class="row">
		
		<div class="col col-75">	
			<div class="card">
				<div class="item">
					Users online
				</div>
				<div class="padding">
					<div class="row">
						<div ng-repeat="caller in activeCalls" class="col">
							{{caller.name}}
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="col">					
			<div class="card" style="height:358px; overflow:auto;">
				<div class="item item-divider">
					Users in room 1
				</div>
			
				<div class="list">
					<label ng-repeat="friend in onlineFriends" class="item item-radio">
						<input type="checkbox" ng-model="recipient[friend.id]" ng-click="connectWhenChecked(friend.id)">
						<div class="item-content">
							{{friend.name}}
						</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
				</div>
			</div>	
		</div>
	
	</div>
	<div id="messages" class="row" style="bottom:44px; position:fixed; width:100%; height:150px; overflow:auto; border-top: solid 1px gray;">
		<div class="item-divider" style="bgColor:#d4d4d4;">Meesages</div>
		<ul class="padding">
			<li ng-repeat="message in messages">
				<p><i style="color:#A9A9C5;">{{message.date }} </i>
					<i style="color:red;"> {{message.author}} </i>: {{message.content}}
				</p>
			</li>
		</ul>
	</div>
	<div class="row">
		<peer-connection key="oftz4qdmchjxxbt9" interface="interface"><peer-connection>
	</div>
</content>

<footer class="bar bar-footer bar-positive">
	<label class="item-input-wrapper">
		<input ng-model="message" type="text" placeholder="Your messsage here"></input>
	</label>
	<button ng-click="send(message)" class="button button-positive">send</button>
</footer>
