<content class="pading-top">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<div class="card">
				<div class="list list-inset">
					<h3 class="title">
						Please Log in or <a href="#/register">Register</a>
					</h3>
					<label class="item item-input">
						<input type="text" placeholder="First Name">
					</label>
					<label class="item item-input">
						<input type="text" placeholder="Last Name">
					</label>

					<button class="button button-block button-positive">Log In</button>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</content>
<footer class="bar bar-footer bar-positive">
</footer>
