<content class="pading-top">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<div class="card">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">First Name</span>
						<input type="text" placeholder="John">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Last Name</span>
						<input type="text" placeholder="Suhr">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Email</span>
						<input type="text" placeholder="john@suhr.com">
					</label>
					<button class="button button-block button-positive">Sign Up</button>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</content>
<footer class="bar bar-footer bar-positive">
</footer>
