<content class="pading-top">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<div class="card">
				<div class="list">
				
					<label class="item item-input item-stacked-label">
						<input ng-model="user.name" type="text" placeholder="Name">
					</label>
					
					<label class="item item-input item-stacked-label">
						<input ng-model="user.email" type="text" placeholder="E-mail">
					</label>
					
					<label class="item item-input item-stacked-label">
						<input ng-model="user.password" type="password" placeholder="Password">
					</label>
					
					<label class="item item-input item-stacked-label">
						<input ng-model="user.password" type="password" placeholder="Confirm password">
					</label>
					
					<button ng-click="saveUser(user)" class="button button-block button-positive">Sign up</button>
<p>hello</p>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</content>
<footer class="bar bar-footer bar-positive">
</footer>

